@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

/* common Class */
.hero-btn {
    padding: 11px 56px;
    background-color: white;
    border-radius: 12px;
    color: #3C278D;
    border: 1px solid #3C278D;
    transition: all 300ms linear;
    max-width: 164px;
}

.hero-btn:hover {
    background-color: #3C278D;
    color: white;
}

.container {
    max-width: 1140px !important;
}

/* Hero First  */
.hero-first-image {
    min-width: 976px;
}

.hero-subheading {
    font-size: 32px;
    padding-top: 34px;
}

.line-height-150 {
    line-height: 150%;
}

.hero-heading {
    font-size: 64px;
}

.hero-text-info {
    color: #4D4D4D;
    font-size: 16px;
}

.btn-div {
    margin-top: 32px;
}

.pointer-event-none {
    pointer-events: none;
}


.gap-19 {
    gap: 19px;
}

@media (max-width: 992px) {
    .hero-first-image {
        width: 90%;
        max-width: 967px !important;
        min-width: unset;
    }

    .hero-heading {
        font-size: 56px;
    }

    .hero-subheading {
        font-size: 28px;
    }

    .hero-text-info {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 48px;
    }

    .hero-subheading {
        font-size: 24px;
    }

    .hero-text-info {
        font-size: 12px;
    }

    .btn-div {
        margin-top: 24px;
    }
}

@media (max-width: 576px) {
    .hero-heading {
        font-size: 46px;
    }

    .hero-subheading {
        font-size: 20px;
    }

    .hero-btn {
        font-size: 14px;
    }
}



/*Hero Second CSS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1140px;
}

.hero-2-content-div {
    max-width: 538px;
}

.hero-2-sub-heading {
    font-size: 32px;
    line-height: 150%;
}

.hero-2-heading {
    line-height: 150%;
    font-size: 64px;
}

.hero-2-text-info {
    color: #4D4D4D;
    font-size: 16px;
    line-height: 150%;
}

.mt-30 {
    margin-top: 30px;
}

.hero-top-left-2-img {
    left: 37%;
    top: 54%;
}

.hero-top-right-2-img {
    right: 37%;
    top: 54%;
}

.hero-bottom-left-2-img {
    left: 37%;
    bottom: 54%;
}

.hero-bottom-right-2-img {
    right: 37%;
    bottom: 54%;
}

.end-34 {
    right: 34px;
}

.bottom-6 {
    bottom: 6px;
}

@media (max-width: 992px) {
    .hero-2-sub-heading {
        font-size: 28px;
    }

    .hero-2-text-info {
        font-size: 14px;
    }

    .hero-2-heading {
        font-size: 56px;
    }
}

@media (max-width: 768px) {
    .hero-2-sub-heading {
        font-size: 24px;
    }

    .hero-2-heading {
        font-size: 52px;
    }

    .w-md-50 {
        width: 50%;
    }

    .top-right-div {
        right: -16% !important;
    }

    .hero-top-right-2-img {
        right: 70%;
    }

    .right-bottom-div {
        right: -22%;
    }

    .hero-bottom-right-2-img {
        right: 77%;
    }
}

@media (max-width: 576px) {
    .hero-2-sub-heading {
        font-size: 20px;
    }

    .hero-2-text-info {
        font-size: 12px;
    }

    .hero-2-heading {
        font-size: 48px;
    }

    .top-right-div {
        right: -33% !important;
    }
}


/* Hero third   */

.heading {
    line-height: 120%;
    font-size: 58px;
    color: black;
}

.text-info {
    max-width: 771px;
}

.text-info p {
    color: #4C4C4D;
    line-height: 150%;
    font-size: 16px;
}

.waves-bg-img {
    background-image: url("../src/assets/images/svg/hero-3-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mb-31 {
    margin-bottom: 31px;
}


@media (max-width: 992px) {
    .heading {
        font-size: 48px;
    }

    .text-info p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 42px;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 38px;
    }

    .text-info p {
        font-size: 12px;
    }
}




/*Hero Forth CSS*/




.hero-4-heading {
    line-height: 150%;
    font-size: 58px;
    color: black;
}

.hero-4-text-info {
    max-width: 771px;
}

.hero-4-text-info p {
    color: #4C4C4D;
    line-height: 150%;
    font-size: 16px;
    margin-top: 16px;
}

.hero-4-btn {
    margin-bottom: 62px;
    margin-top: 19px;
}

.hero-leaves {
    max-width: 1140px;
}

.pt-96 {
    padding-top: 96px;
}

@media (max-width: 992px) {
    .hero-4-heading {
        font-size: 48px;
    }

    .hero-4-text-info p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero-4-heading {
        font-size: 42px;
    }

    .pt-md-72 {
        padding-top: 72px;
    }

    .hero-4-btn {
        margin-bottom: 48px;
        margin-top: 0px;
    }

    .hero-4-text-info p {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .hero-4-heading {
        font-size: 38px;
        text-align: center;
    }

    .hero-4-text-info p {
        font-size: 12px;
        margin-top: 0;
    }
    .hero-4-btn{
        margin-bottom: 30px;
    }

    .pt-sm-0 {
        padding-top: 0px;
    }
}



/*Hero Fifth CSS*/



.hero-5-heading {
    color: #4D4D4D;
    font-size: 58px;
    max-width: 388px;
    line-height: 120%;
}

.hero-5-text {
    color: #4D4D4D;
    margin-top: 15px;
    line-height: 150%;
}

.min-h-527 {
    min-height: 527px;
}

.flower-img {
    max-width: 427px;
    width: 100%;
}

.absolute-5-img {
    max-width: 427px;
    width: 100%;
    right: 7%;
    bottom: 0%;
}

.absolute-5-div {
    max-width: 665px;
    width: 100%;
    transform: translateX(40px);
}

@media (max-width:992px) {
    .hero-5-heading {
        font-size: 48px;
    }

    .hero-5-text {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-5-heading {
        font-size: 42px;
    }

    .hero-5-btn {
        margin-top: 20px;
    }

    .hero-5-text {
        margin: 10px 0px;
    }
    .absolute-5-div {
        transform: translateX( 0px);
    }
    .absolute-5-img {
        right: 0;
    }
}

@media (max-width:576px) {
    .hero-5-heading {
        font-size: 38px;
    }

    .hero-5-text {
        font-size: 12px;
    }
}



/*Hero Sixth CSS*/


.hero-6-section {
    background-image: url('../src/assets/images/png/hero-6-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}

.hero-6-content {
    max-width: 711px !important;
}

.hero-6-heading {
    font-size: 64px;
    color: white;
    line-height: 120%;
}

.hero-6-color-heading {
    color: #46AD47;
}

.hero-6-text {
    color: #B5B5B5;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 150%;
}

.hero-6-btn {
    padding: 13.5px 29px;
    background-color: #46AD47;
    color: black;
    border-radius: 12px;
    border: 0;
    line-height: 120%;
    transition: all 300ms linear;
}

.hero-6-btn:hover {
    box-shadow: #46AD47 0px 7px 29px 0px;
}

@media (max-width:992px) {
    .hero-6-heading {
        font-size: 56px;
    }

    .hero-6-text {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-6-heading {
        font-size: 52px;
    }
}

@media (max-width:576px) {
    .hero-6-heading {
        font-size: 48px;
    }

    .hero-6-text {
        font-size: 12px;
        margin-bottom: 20px;
    }
}




/*Hero Sixth CSS*/



.hero-7-section {
    background-color: #0B0B09;
}

.hero-7-heading {
    font-size: 64px;
    color: white;
    line-height: 120%;
}

.hero-7-color-heading {
    color: #46AD47;
}

.hero-7-text {
    color: #B5B5B5;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 150%;
}

.hero-7-btn {
    padding: 11.5px 29px;
    background-color: #46AD47;
    color: black;
    border-radius: 12px;
    border: 0;
    max-width: 194px;
    transition: all 300ms linear;
}

.pointer-event-none {
    pointer-events: none;
}

.hero-7-btn:hover {
    box-shadow: #46AD47 0px 7px 29px 0px;
}

.ellipse-img {
    bottom: 2%;
    left: 2%;
    filter: blur(8px);
}

.vehical-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

@media (max-width:1280px) {
    .vehical-img {
        width: 100%;
        position: relative;
    }
}

@media (max-width:992px) {
    .hero-7-heading {
        font-size: 56px;
    }

    .hero-7-text {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-7-heading {
        font-size: 52px;
    }
    .hero-7-text {
        margin-top: 8px;
    }
}

@media (max-width:576px) {
    .hero-7-heading {
        font-size: 48px;
    }

    .hero-7-text {
        font-size: 12px;
        margin-bottom: 20px;
    }
}



/*Hero 8 CSS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1140px;
}

.hero-8-section {
    background-color: #0A0A08;
}

.hero-8-content {
    max-width: 712px !important;
}

.hero-8-heading {
    font-size: 64px;
    color: white;
    line-height: 120%;
}

.hero-8-color-heading {
    color: #46AD47;
}

.hero-8-text {
    color: #B5B5B5;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 150%;
}

.hero-8-btn {
    padding: 11px 29px;
    background-color: #46AD47;
    color: black;
    border-radius: 12px;
    border: 0;
    transition: all 300ms linear;
}

.hero-8-btn:hover {
    box-shadow: #46AD47 0px 7px 29px 0px;
}

.cube {
    bottom: 5%;
    right: 5%;
    filter: blur(10px);
}

.cube-shadow {
    bottom: -35%;
    right: -20%;
    filter: blur(10px);
}

.cube-top {
    top: 5%;
    left: 5%;
    filter: blur(10px);
}

.cube-shadow-top {
    top: -35%;
    left: -20%;
    filter: blur(10px);
}

.pointer-event-none {
    pointer-events: none;
}

@media (max-width:992px) {
    .hero-8-heading {
        font-size: 56px;
    }

    .hero-8-text {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-8-heading {
        font-size: 52px;
    }
}

@media (max-width:576px) {
    .hero-8-heading {
        font-size: 48px;
    }

    .hero-8-text {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

/*Hero 9 CSS*/


.bg-light-black {
    background-color: #0B0D09;
}

.hero-9-color-heading {
    color: #03D79B;
}

.text-9-info-div {
    max-width: 333px;
}

.hero-9-text-info {
    line-height: 150%;
    color: #B6B7B5;
    font-size: 16px;
}

.hero-9-btn {
    padding: 18px 45px;
    background-color: #46AD47;
    border-radius: 51px;
    max-height: 55px;
    cursor: pointer;
    z-index: 100;
    max-width: 226px;
    transition: all 300ms linear;
}

.hero-9-btn:hover {
    box-shadow: #46AD47 0px 7px 29px 0px;
}

.hero-9-heading {
    line-height: 120%;
    font-size: 128px;
}

.box {
    margin-top: 58px;
}

.hero-9-cube {
    top: 100px;
    filter: blur(10px);
}

.hero-9-cube-shadow-top {
    filter: blur(10px);
}

.hero-9-bottom-cube {
    filter: blur(10px);
    bottom: 46px;
    right: 89px;
}

.hero-9-bottom-cube-shadow {
    filter: blur(10px);
}

.pointer-event-none {
    pointer-events: none;
}

.bottom-circle {
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:992px) {
    .hero-9-heading {
        font-size: 112px;
    }

    .hero-9-text-info {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-9-heading {
        font-size: 96px;
    }

    .box {
        margin-top: 30px;
    }
}

@media (max-width:576px) {
    .hero-9-heading {
        font-size: 72px;
    }

    .hero-9-text-info {
        font-size: 14px;
    }

    .hero-9-btn {
        font-size: 14px;
    }
}