* {
    font-family: 'Inter', sans-serif;
    text-decoration: none !important;
}

.transition {
    transition: all 300ms linear;
}

.opacity-70 {
    opacity: 70%;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-150 {
    z-index: 150;
}

.z-200 {
    z-index: 200;
}

.w-fit {
    width: fit-content;
}

.w-sm-83 {
    width: 83.3%;
}

.max-w-240 {
    max-width: 240px;
}

.max-w-1920 {
    max-width: 1920px;
}

.w-56 {
    width: 56px;
}

.w-6 {
    width: 6px;
}

.h-40 {
    height: 40px;
}

.h-240 {
    height: 240px;
}

.h-6 {
    height: 6px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-44 {
    margin-top: 44px;
}

.gap-32 {
    gap: 32px;
}

.gap-20 {
    gap: 20px;
}

.btn-hover:hover {
    transform: scale(95%);
}

.text-base {
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-size: 14px;
    line-height: 16px;
}

.text-3xl {
    font-size: 30px;
    line-height: 36px;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 8px;
}

.position-sm-relative {
    position: relative !important;
}

.bg-off-yellow {
    background: #FFED00 !important;
}

.bg-dark-gray {
    background: #EAE9E3;
}

.text-off-yellow {
    color: #FFED00 !important;
}

.fill-off-yellow {
    fill: #FFED00;
}

.fill-white {
    fill: white;
}

.border-light-gray {
    border-color: #EAE9E3 !important;
}

.place-items-center {
    place-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: auto !important;
    height: auto !important;
}

.left100 {
    left: -100% !important;
}

.dot-img {
    max-width: 200px;
    opacity: 70%;
}

@media (min-width:576px) {
    .px-sm-96 {
        padding: 0px 96px;
    }

    .max-w-sm-192 {
        max-width: 192px;
    }

    .position-sm-fixed {
        position: fixed;
    }
}

@media (min-width:768px) {
    .px-md-120 {
        padding: 0px 120px;
    }

    .max-w-md-240 {
        max-width: 240px;
    }

    .dot-img {
        opacity: 100%;
    }

    .text-md-4xl {
        font-size: 36px;
        line-height: 44px;
    }
}

@media (min-width:992px) {
    .p-lg-32 {
        padding: 32px;
    }
}

@media (min-width:1200px) {
    .w-xl-58 {
        width: 58.7%;
    }

    .w-xl-41 {
        width: 41.3%;
    }
}