@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: 'inter', sans-serif;
}

.container {
  max-width: 1180px !important;
  padding: 0 20px;
  margin: auto;
}

.nav-logo {
  max-width: 87px;
}

.pointer-none {
  pointer-events: none;
}

.g-lg-5 {
  gap: 46px;
}

.list-text {
  font-size: 16px;
  line-height: 24px;
}

.list-text:hover {
  color: blue !important;
}

.nav-button {
  background: #3c278d;
  border-radius: 12px;
  padding: 14.5px 56px;
  border: none;
  transition: 0.2s;
}
.nav-button:hover{
  scale: .95;
}

.nav-py {
  padding: 26px 0;
}

.toggle-button {
  z-index: 100;
  display: none;
}
.icon-cross {
  width: 24px;
  height: 24px;
}
.icon {
  width: 28px;
  height: 28px;
}
.icon-cross svg path {
  fill: #3c278d;
}

.icon svg path {
  fill: black;
}

@media(max-width:991.99px) {
  .menu-list {
    display: none;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    z-index: 6;
    transition: all 400ms linear !important;
  }

  .menu-list.show {
    display: flex;
    right: 0%;
  }

  .toggle-button {
    display: flex;
    display: grid;
    place-items: center;
  }
}
@media(max-width:576.99px){
  .icon-cross{
    width: 20px;
    height: 20px;
  }
  .icon{
    width: 24px;
      height: 24px;
  }
}