@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

/* Roadmap Third Css Code */
.roadmap-parent {
  padding-top: 112px;
  max-width: 1920px;
}

.description-width {
  max-width: 280px;
}

.content-one {
  right: 1%;
}

.content-two {
  right: 26%;
  top: 4%;
}

.content-three {
  right: 50%;
  top: 9%;
}

.content-four {
  left: 11.5%;
  top: 31%;
}

.icon-gap {
  gap: 14px;
}

.roadmap-heading {
  font-size: 24px;
}

.roadmap-para {
  font-size: 16px;
  opacity: 0.7;
  padding-top: 20px;
}

.roadmap-small-img {
  width: 40px;
  padding-top: 40px;
}

.small-roadmap {
  padding: 0px 80px 48px;
}

.content-spacing {
  padding-top: 45px;
}

.roadmap-main-heading {
  font-size: 40px;
  line-height: 120%;
}

@media (max-width:1279.98px) {
  .description-width {
    max-width: 250px;
  }

  .roadmap-heading {
    font-size: 20px;
  }

  .roadmap-para {
    font-size: 14px;
    padding-top: 12px;
  }
}

@media (max-width:575.98px) {
  .small-roadmap {
    padding: 0px 20px 63px;
  }
}